h1 a {
    color: #00000000;
    font-family: 'Roboto Condensed';
}

body {
    margin-left: 150;
    margin-right: 150;
}

element.style {
	background: #F39E8D;

}

.page-header {
    background-color: #F39E8D;;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #47EDEA;
    font-size: 50pt;
    text-decoration: none;
}

.content {
    margin-left: 0 auto;
    font-family: 'Roboto Condensed';
    text-align: -webkit-left;

}

h1, h2, h3, h4 {
    font-family: 'Roboto Condensed', cursive;
    height: 200px;
    width: 200px;
    margin: 0 auto;

}
.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 50%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 0 auto;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}